html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.json-analyse {
    display: flex;
}

.column {
    flex-grow: 1;
    padding: 1em;
}

.analyse-wrapper {
    width: 33.3333%;
}

.chart-wrapper {
    height: 400px
}

.clause-container {
    margin-top: 1em;
}

.clauses {
    margin-bottom: 1em;
}

.clause-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.remove-clause {
    margin-left: auto;
}

.inline-form-container {
    display: flex;
}

.inline-form-container .form-control:first-child {
    margin-right: 1em;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.form-block {
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    background: #f2f2f2;
}

.primary-button {
    padding: 0.5em 1.5em;
}